<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.User">
		<id column="id" property="id" />
		<result column="avatar" property="avatar" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="sex" property="sex" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="roleid" property="roleid" />
		<result column="deptid" property="deptid" />
		<result column="status" property="status" />
		<result column="createtime" property="createtime" />
		<result column="version" property="version" />
        <result column="management" property="management" />
        <result column="employee_num" property="employeeNum" />
        <result column="mechanism" property="mechanism" />
        <result column="salesagency" property="salesagency" />
        <result column="updatetime" property="updatetime" />
        <result column="nums" property="nums" />
        <result column="customer_type" property="customerType" />
	</resultMap>

    <sql id="Base_Column_List">
        id, account, name, birthday, sex, email, avatar,
        phone, roleid,
        deptid, status,
        createtime, version,management,
        employee_num,mechanism,salesagency,updatetime,nums,customer_type
    </sql>

    <sql id="Base_Column_List_With_Pwd">
        id, account, name, birthday,password, sex, email, avatar,
        phone, roleid,salt,
        deptid, status,
        createtime, version,management,
        employee_num,mechanism,salesagency,updatetime,nums,customer_type
    </sql>

    <sql id="Base_Column_ListInfo">
       id,avatar,`account`,`password`,salt,`name`,
       birthday,phone,roleid,createtime,updatetime
    </sql>



    <select id="selectUsers" resultType="map">
        select
        <include refid="Base_Column_ListInfo"/>
        from sys_user
        where status != 3

        <if test="name != null and name != ''">
            AND `account`  LIKE CONCAT('%',#{name},'%')
            OR phone LIKE CONCAT('%',#{name},'%')
            OR `name` LIKE CONCAT('%',#{name},'%')
        </if>

        <choose>
            <when test="beginTime != null and beginTime.length() > 0 and endTime != null and endTime.length() > 0">

                AND createtime BETWEEN #{beginTime} AND #{endTime}

            </when>
            <when test="beginTime != null and beginTime.length() > 0">

                AND createtime >= #{beginTime}

            </when>
            <when test="endTime != null and endTime.length() > 0">

                AND updatetime &lt;= #{endTime}

            </when>

        </choose>

    </select>

    <update id="setStatus">
        update sys_user set status = #{status} where id =
        #{userId}
    </update>

    <update id="changePwd">
        update sys_user set password = #{pwd} where id =
        #{userId}
    </update>

    <update id="setRoles">
        update sys_user set roleid = #{roleIds} where id =
        #{userId}
    </update>

    <select id="getByAccount" resultType="user">
        select
        <include refid="Base_Column_List_With_Pwd"/>
        FROM sys_user where account = #{account} and status != 3
    </select>


    <!-- 添加用户信息 -->
    <insert id="insertUserInfo" parameterType="com.stylefeng.guns.common.persistence.model.User"  useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">

        INSERT INTO sys_user(
          avatar,account,`password`,salt,`name`,
          birthday,phone,roleid,`status`,createtime
        )
        VALUES(
          #{avatar},#{account},#{password},#{salt},#{name},
          #{birthday},#{phone},#{roleid},#{status},NOW()
        )


    </insert>

    <!-- 修改用户信息 -->
    <update id="modifyUserInfo" parameterType="com.stylefeng.guns.common.persistence.model.User">

        UPDATE sys_user SET

        avatar = #{avatar},account = #{account},`name` = #{name},
        birthday = #{birthday},phone = #{phone},updatetime = NOW()

        WHERE id = #{id}

    </update>


</mapper>
